*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

body{
  background-color: #2b2e33;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
 
.dashboard{
  width: 600px;
display: flex;
flex-wrap: wrap;
}

.card{
  width: 190px;
  height: 190px;
  border: 1px solid grey;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.draw{
  font-size: 150px;
  width: 100%;
 color: grey;
text-align: center;
 display: inline;
}
 
.winner{
  position: absolute;
  width: 350px;
  /* height: 350px; */
  background-color: rgb(211, 61, 61);
  color: white;
  transform: translate(-50%,-50%);
  top:50%;
  left: 50%;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 10px;
}


button{
  margin-top: 30px;
  padding: 20px;
  border: none;
  outline: none;
  font-size: 30px;
  border-radius: 5px;
  background-color: rgb(113, 66, 221);
  cursor: pointer;
}

.winnerContainer{
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* background-color: transparent; */

}